<div class="item post-card{{#unless feature_image}} has-border{{/unless}}">
  <a class="item-link" href="{{url}}">
    {{#if feature_image}}
      <figure class="image lazyload is-2by1 item-figure background-img" style="background-image:url({{img_url feature_image}})" alt="{{title}}">
      </figure>
    {{/if}}
    {{#if featured}}
      <div class="item-featured">
        {{> icon data-name="star"}}
      </div>
    {{/if}}
  </a>
  {{#if tags}}
    <div class="item-tags">
      {{#foreach tags limit="3"}}
        <a class="button tag-{{slug}} is-rounded" href="{{url}}" title="{{name}}" aria-label="{{name}}s">#{{name}}</a>
      {{/foreach}}
    </div>
  {{/if}}
  <h2 class="title item-title is-size-4 has-text-weight-extra-bold"><a class="item-link" href="{{url}}">{{title}}</a></h2>
  {{#unless feature_image}}
    <div class="item-description">
      {{excerpt words="40"}}&hellip;
    </div>
  {{/unless}}
  <div class="level">
    <div class="level-left">
      <div class="item-author">{{author}}</div>
    </div>
    <div class="level-right">
      <time datetime="{{date format='YYYY-MM-DD'}}">{{date published_at}}</time>
    </div>
  </div>
</div>
